<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title>Добавляем новый тур</title>
</head>
<body>
<table id="cap_">
    <tr>
        <th><a href="http://127.0.0.1:5000"> Главная </a></th>
        <th><a href="http://127.0.0.1:5000/trev_form"> Добавить новый тур </a></th>
        <th><a href="http://127.0.0.1:5000/trevs"> Все туры </a></th>
        <th><a href="http://127.0.0.1:5000/trev_form_sh"> найти тур по номеру </a></th>
        <th><a href="http://127.0.0.1:5000/trev/3">Тур №3 </a></th>
    </tr>
</table>
<form method="POST">
    <table border="0">
        <tr>
            <td><p>{{ form.destination.label }} </p></td><td><p>{{ form.destination() }}</p> </td>
        </tr>
        <tr>
            <td><p>{{ form.d_date.label }} </p></td><td><p>{{ form.d_date() }}</p></td>
        </tr>
        <tr>
            <td><p>{{ form.r_date.label }}</p></td><td><p> {{ form.r_date() }}</p></td>
        </tr>
        <tr>
            <td><p>{{ form.budget.label }} </p></td><td><p>{{ form.budget() }}</p></td>
        </tr>
        <tr>
            <td><p>{{ form.services.label }}</p></td><td><p> {{ form.services() }}</p></td>
        </tr>
        <tr>
            <td><p>{{ form.nametype.label }}</p></td><td><p> {{ form.nametype() }}</p></td>
 </table >
    <!-- Кнопка отправки формы -->
    <input type="submit" value="Добавить">
</form>
